/* reset most commonly used elements, to insure sane defaults */

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
	background-color: #2219b2;
}

header {
	/*border-bottom: 1px solid #000;*/
	background-color: #554dd8;
	color: #fff;
}

header nav ul li {
	display: inline-block;
	line-height: 3em;
	padding: 0 8px;
	font-weight: bold;
}

header nav ul li:first-of-type{
	padding: 0 16px 0 20px;
	font-style: italic;
	font-weight: normal;
}

#content {
	padding: 20px;
	color: #fff;
}

#content h2 {
	margin-bottom: 10px;
}

#content ul {
	margin-bottom: 20px;
}

#content ul li .label {
	display: inline-block;
	width: 150px;
}

#content ul li p:first-of-type {
	margin-right: 8px;
}

#content ul li input[type=text] {
	width: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	color: inherit;
}
