<ul>
	<li>
		<p class="label">Header Font Color:</p>
		<input type="text" ng-model="headerFontColor">
		<input type="submit" value="Try" ng-click="dye('header', 'color', headerFontColor)">
		<p class="button" ng-bind="headerFontColor"></p>
	</li>
	<li>
		<p class="label">Header Background Color:</p>
		<input type="text" ng-model="headerBackgroundColor">
		<input type="submit" value="Try" ng-click="dye('header', 'background-color', headerBackgroundColor)">
		<p class="button" ng-bind="headerBackgroundColor"></p>
	</li>
	<li>
		<p class="label">Content Font Color:</p>
		<input type="text" ng-model="contentFontColor">
		<input type="submit" value="Try" ng-click="dye('#content', 'color', contentFontColor)">
		<p class="button" ng-bind="contentFontColor"></p>
	</li>
	<li>
		<p class="label">Content Background Color:</p>
		<input type="text" ng-model="contentBackgroundColor">
		<input type="submit" value="Try" ng-click="dye('#content', 'background-color', contentBackgroundColor)">
		<p class="button" ng-bind="contentBackgroundColor"></p>
	</li>
</ul>